@using WebsiteBanSach.Models;

@model List<ItemGioHang>

@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/LayoutGioHang.cshtml";

    int thutu = 0;
}

@if (Model == null || Model.Count == 0)
{
    <div align="center" style="background: white; padding-bottom:20px; padding-top:20px;">
        <h1 style="color:#000;">Giỏ Hàng Rỗng!</h1>
    </div>
}
else
{
    <table class="table">
        <tr>
            @*<td>Mã Sách</td>
                <td>Tên Sách</td>
                <td>Bìa Sách</td>
                <td>Số Lượng</td>
                <td>Giá KM</td>
                <td>Đơn Giá</td>
                <td>Thành Tiền</td>*@
        </tr>
        @*<tr>
                <td>@item.ID</td>
                <td>@item.Name</td>
                <td><img src="@Url.Content("~/Content/HinhAnh/"+item.Image)" width="150" height="200" /></td>
                <td>@item.Count</td>
                <td>@item.Price.ToString("#,##") đồng</td>
                <td>@item.PromotionPrice.ToString("#,##") đồng</td>
                <td>@item.ToTal.ToString("#,##") đồng</td>
                <td>
                    @Html.ActionLink("Sửa", "SuaGioHang", new { @Masach = item.ID })
                    @Html.ActionLink("Xóa", "XoaGioHang", new { @Masach = item.ID })
                </td>
            </tr>*@
        <div class="checkout-right">
            <h4>
                Giỏ hàng gồm:
                <span>@Model.Count</span> sản phẩm
            </h4>
            <table class="timetable_sub table-responsive">
                <thead>
                    <tr>
                        <th>Thứ Tự</th>
                        <th>Sản phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tên Sản Phẩm</th>
                        <th>Giá</th>
                        <th>Tùy Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        thutu += 1;
                        <tr class="rem1">
                            <td class="invert">@thutu</td>
                            <td class="invert-image">
                                <img src="@Url.Content("~/Content/HinhAnh/"+item.Image)" width="150" height="200" />
                            </td>
                            <td class="invert">
                                <div class="quantity">
                                    <div class="quantity-select">
                                        <div class="entry value">
                                            <span>@item.Number</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="invert">@item.Name</td>

                            <td class="invert">@item.PromotionPrice</td>
                            <td>
                                <i class="btn btn-default">
                                    @Html.ActionLink("Sửa", "SuaGioHang", new { @Masach = item.ID })
                                </i>
                                <i class="btn btn-default">
                                    @Html.ActionLink("Xóa", "XoaGioHang", new { @Masach = item.ID })
                                </i>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="checkout-left">
            <div class="col-md-4 checkout-left-basket">
                <h4>Giỏ Hàng Của Bạn</h4>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            @item.Name
                            <i>-</i>
                            <span>@item.ToTal</span>
                        </li>
                    }
                    <li>
                        @Html.Action("TotalPartial", "GioHang")
                    </li>
                </ul>

            </div>
            <div class="col-md-8 address_form">
                <h4>Địa Chỉ Thanh Toán</h4>
                <form action="payment.html" method="post" class="creditly-card-form shopf-sear-headinfo_form">
                    <div class="creditly-wrapper wrapper">
                        <div class="information-wrapper">
                            @{
                                WebsiteBanSach.Models.User dg = Session["TaiKhoan"] as WebsiteBanSach.Models.User;
                                if (dg != null)
                                {
                                    <div class="first-row form-group">
                                        <div class="controls">
                                            <label class="control-label">Mã Khách Hàng: </label>
                                            <input class="billing-address-name form-control" type="text" name="name" placeholder=" @dg.ID">
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Họ Tên: </label>
                                            <input class="billing-address-name form-control" type="text" name="name" placeholder=" @dg.Name">
                                        </div>
                                        <div class="card_number_grids">
                                            <div class="card_number_grid_left">
                                                <div class="controls">
                                                    <label class="control-label">Số Điện Thoại:</label>
                                                    <input class="form-control" type="text" placeholder=" @dg.Phone">
                                                </div>
                                            </div>
                                            <div class="card_number_grid_right">
                                                <div class="controls">
                                                    <label class="control-label">Địa Chỉ:</label>
                                                    <input class="form-control" type="text" placeholder=" @dg.Address">
                                                </div>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Thành/Thị: </label>
                                            <input class="form-control" type="text" placeholder="Town/City">
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Loại Địa Chỉ: </label>
                                            <select class="form-control option-fieldf">
                                                <option>Văn Phòng</option>
                                                <option>Nhà Riêng</option>
                                                <option>Thương Mại</option>

                                            </select>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="first-row form-group">
                                        <div class="controls">
                                            <label class="control-label">Họ Tên:    </label>
                                            <input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
                                        </div>
                                        <div class="card_number_grids">
                                            <div class="card_number_grid_left">
                                                <div class="controls">
                                                    <label class="control-label">Số Điện Thoại:</label>
                                                    <input class="form-control" type="text" placeholder="Mobile number">
                                                </div>
                                            </div>
                                            <div class="card_number_grid_right">
                                                <div class="controls">
                                                    <label class="control-label">Địa Chỉ: </label>
                                                    <input class="form-control" type="text" placeholder="Landmark">
                                                </div>
                                            </div>
                                            <div class="clear"> </div>
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Thành/Thị: </label>
                                            <input class="form-control" type="text" placeholder="Town/City">
                                        </div>
                                        <div class="controls">
                                            <label class="control-label">Loại Địa Chỉ: </label>
                                            <select class="form-control option-fieldf">
                                                <option>Văn Phòng</option>
                                                <option>Nhà Riêng</option>
                                                <option>Thương Mại</option>

                                            </select>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                    </div>
                </form>

            </div>

            <div class="clearfix"> </div>

        </div>
    </table>
    <div class="divDathang" style="text-align:right;">
        @*@using (Html.BeginForm("DatHang", "GioHang"))
            {

                if (Session["TaiKhoan"] != null)
                {
                    <button class="submit check_out">Đặt Hàng</button>
                    @Html.ActionLink("Mua tiếp", "Index", "Home", new { @class = "btn btn-success" })
                }


            }*@
        @using (Html.BeginForm("ThanhToan", "GioHang"))
        {

            if (Session["TaiKhoan"] != null)
            {
                <button class="submit check_out">Đặt Hàng</button>
                @Html.ActionLink("Mua tiếp", "Index", "Home", new { @class = "btn btn-success" })
            }


        }

    </div>


}
