@model WebsiteBanSach.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Đăng nhập / Đăng ký</h1>
                <nav class="d-flex align-items-center">
                    <a href="Index">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="Login">Đăng nhập / Đăng ký</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Register Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Bạn chưa có tài khoản?</h4>
                        <p>Click vào nút dưới đây để tạo tài khoản để mua hàng</p>
                        <a class="primary-btn" href="Register">Đăng ký</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    @if(ViewBag.Error!=null)
                    { 
                        <h3 class="alert alert-danger">@ViewBag.Error</h3>
                    }
                    <h3>Đăng nhập</h3>
                    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "row login_form" }))
                    {
                        @Html.AntiForgeryToken()

                        <h4></h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <b class="col-md-12" Style="text-align: left">@Html.LabelFor(model => model.UserName, htmlAttributes: new { })</b>
                        <div class="col-md-12 form-group">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên đăng nhập", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Tên đăng nhập'" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>


                        <b class="col-md-12" Style="text-align: left">@Html.LabelFor(model => model.Password, htmlAttributes: new { })</b>
                        <div class="col-md-12 form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu", @onfocus = "this.placeholder = ''", @onblur = "this.placeholder = 'Mật khẩu'" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-12">
                                <button type="submit" value="Login" class="primary-btn">Đăng nhập</button>
                                @*<input type="submit" value="Create" class="btn btn-default" />*@
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Register Box Area =================-->
