@using WebsiteBanSach.Models
@model  IEnumerable<Book>
@*<div class="section group">
        @foreach (var item in Model)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="#"><img src="~/Content/Layout/images/@item.HinhAnh" alt=""></a>
                <div class="price" style="border:none">
                    <div class="add-cart" style="float:none">
                        <h4>
                            @*<a href="@Url.Action("ThemGioHang","GioHang",new { @MaSp = item.MaSP, @strURL = Request.Url.ToString() })">Thêm Vào Giỏ Hàng</a>
                            @Ajax.ActionLink("Thêm Vào Giỏ Hàng", "ThemGioHang", "GioHang", new { @MaSp = item.MaSP }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, null)
                        </h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }


    </div>*@
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">SÁCH CÙNG LOẠI</h3>
                </div>
            </div>
            @*<div class="clearfix visible-sm visible-xs"></div>*@
            <!-- product -->
            @foreach (var item in Model)
            {
            <div class="section singlep_btm">
                <div class="container">
                    <div class="new_arrivals">
                        <h4 class="rad-txt">
                            <span class="abtxt1">featured</span>
                            <span class="abtext"> products</span>
                        </h4>
                        <!-- row3 -->
                        <div class="col-md-3 product-men">
                            <div class="product-chr-info chr">
                                <div class="thumbnail">
                                    <a href="@Url.Action("CTSP","SanPham", new { id = item.ID })">
                                        <img src="@Url.Content("~/Content/HinhAnh/"+item.Image)" alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>@item.Name</h4>
                                    <p>@item.Author.Name</p>
                                    <div class="matrlf-mid">
                                        <ul class="rating">
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star yellow-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <span class="fa fa-star gray-star" aria-hidden="true"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <ul class="item_price">
                                            <li> @item.PromotionPrice.ToString("#,##") VNĐ</li>
                                        </ul>

                                        <div class="clearfix"> </div>
                                    </div>
                                    @*<form action="#" method="post">
                                <input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="chr_item" value="Book1">
                                <input type="hidden" name="amount" value="180.00">
                                <button type="submit" class="chr-cart pchr-cart">
                                    Add to cart
                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                </button>
                                <a href="#" data-toggle="modal" data-target="#myModal1"></a>
                            </form>*@
                                    <form action="#" method="post">
                                        @*<input type="hidden" name="cmd" value="_cart">
                                <input type="hidden" name="add" value="1">
                                <input type="hidden" name="chr_item" value="@item.Tensach">
                                <input type="hidden" name="amount" value="@item.GiaThue.Value.ToString("#,##") VNĐ">*@

                                        @*<button type="button" onclick="location.href='@Url.Action("ThemGioHang","GioHang", new { @Masach = item.Masach , @strURL =  Request.Url.ToString() })"class="item-add"><p class="number item_price"><i></i>@item.GiaThue.Value.ToString("#,##")</p>Thêm Vào Giỏ</button>*@
                                        <a href="@Url.Action("ThemGioHang","GioHang", new { @Masach = item.ID , @strURL =  Request.Url.ToString() })" type="button" class="item-add"><p class="number item_price"><i class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> Thêm Vào Giỏ </i></p></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- //row3 -->
                        <div class="clearfix"></div>
                    </div>
                    <!--//new_arrivals-->
                    <div class="clearfix"></div>

                </div>
            </div>
            }
            <!-- /product -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
